{% extends 'layout/base.html' %}

{% block content %}
<h1 class="text-center text-info mt-1">CHÀO MỪNG ĐẾN VỚI CHUYẾN BAY OU</h1>
<main>
    <div class="search-form-container">
        <h1 class="form-title">Tìm kiếm chuyến bay</h1>
        <form action="/tim-chuyen" method="post" class="search-form">
            <div class="form-group">
                <label for="from" class="form-label">
                    <i class="fas fa-plane-departure"></i> Điểm đi:
                </label>
                <select name="san_bay_di" id="from" class="form-control" required>
                    <option value="" disabled selected>Chọn điểm đến</option>
                    <option value="Hà Nội">Hà Nội</option>
                    <option value="TP.Hồ Chí Minh">TP. Hồ Chí Minh</option>
                    <option value="Đà Nẵng">Đà Nẵng</option>
                    <option value="Khánh Hòa">Khánh Hòa</option>
                </select>
            </div>
            <div class="form-group">
                <label for="to" class="form-label">
                    <i class="fas fa-plane-arrival"></i> Điểm đến:
                </label>
                <select name="san_bay_den" id="to" class="form-control" required>
                    <option value="" disabled selected>Chọn điểm đến</option>
                    <option value="Hà Nội">Hà Nội</option>
                    <option value="TP.Hồ Chí Minh">TP. Hồ Chí Minh</option>
                    <option value="Đà Nẵng">Đà Nẵng</option>
                    <option value="Khánh Hòa">Khánh Hòa</option>
                </select>
            </div>
            <div class="form-group">
                <label for="departure-date" class="form-label">
                    <i class="fas fa-calendar-alt"></i> Ngày khởi hành:
                </label>
                <input type="date" name="ngay_khoi_hanh" id="departure-date" class="form-control">
            </div>
            <button type="submit" class="btn1 btn-primary">Tìm chuyến bay</button>
        </form>
    </div>
    <section class="partner-airlines">
        <h2 class="section-title">Hãng hàng không đối tác</h2>
        <div class="airline-logos">
            <div class="airline-logo-container">
                <img src="static/images/travel.png" alt="Travel Airlines" class="airline-logo">
                <p class="airline-name">Travel Airlines</p>
            </div>
            <div class="airline-logo-container">
                <img src="static/images/vietnamairline.png" alt="Vietnam Airlines" class="airline-logo">
                <p class="airline-name">Vietnam Airlines</p>
            </div>
            <div class="airline-logo-container">
                <img src="static/images/vietjet.png" alt="VietJet Air" class="airline-logo">
                <p class="airline-name">VietJet Air</p>
            </div>
        </div>
    </section>
</main>

{% endblock %}