{% extends 'layout/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-primary text-center">Xác nhận thanh toán</h2>

    <div class="card shadow-lg p-4 mt-4">
        <h4><strong>Thông tin hành khách</strong></h4>
        <p><strong>Tên hành khách:</strong> {{ dat_ve.ho_ten }}</p>
        <p><strong>Ngày sinh:</strong> {{ dat_ve.ngay_sinh.strftime('%d/%m/%Y') }}</p>
        <p><strong>Số điện thoại:</strong> {{ dat_ve.so_dien_thoai }}</p>
        <p><strong>Số ghế:</strong> {{ dat_ve.chon_cho }}</p>
        <p><strong>Hạng vé:</strong> {{ ve.hang_ve.value }}</p>
        <p><strong>Giá vé:</strong> {{ "{:,.0f}".format(ve.gia) }} VND</p>
    </div>

    <div class="card shadow-lg p-4 mt-4">
        <h4><strong>Chọn phương thức thanh toán</strong></h4>
        <form method="POST">
            <div class="form-group">
                <label for="payment-method">Chọn phương thức thanh toán:</label>
                <select id="payment-method" name="pttt" class="form-control">
                    {% if current_user.user_role.value == 2 %}
                    <option value="TIEN_MAT">Tiền mặt</option>
                    {% endif %}
                    <option value="THE_TIN_DUNG">Thẻ tín dụng</option>
                    <option value="CHUYEN_KHOAN">Chuyển khoản</option>
                </select>
            </div>

            <div class="mt-4 d-flex justify-content-between">
                <a href="{{ url_for('index') }}" class="btn btn-secondary">Hủy</a>
                <button type="submit" class="btn btn-primary">Xác nhận thanh toán</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
